* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

#upperPage {
  width: 100vw;
  height: 50vh;
  border: 1px solid #d9d9d9;
  display: flex;

  margin: 1rem;
}

#upperPage div {
  display: flex;
  flex-direction: column;
}

#upperPage > :nth-child(1) {
  width: 20vw;
  height: 50vh;
  background-color: #e7e7e7;
  
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 10vh;
}

#upperPage > :nth-child(2) {
  width: 80vw;
  height: 50vh;
  background-color: #d9d9d9;

  padding: 2rem;
}

#upperPage > :nth-child(2) > :nth-child(1) {
  height: 20vh;

  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;

  margin-top: 3vh;
}
#upperPage > :nth-child(2) > :nth-child(2) {
  height: 60vh;

  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;


}
#upperPage > :nth-child(2) > :nth-child(3) {
  height: 20vh;

  font-family: Inter;
  font-size: 48px;
  font-style: italic;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;

}

span {
  color: red;
}

#lowerPage {
  width: 100vw;
  height: 50vh;
  display: flex;
  background-color: #d9d9d9;

  margin: 1rem;
}

#lowerPage div {
  display: flex;
  flex-direction: column;
  
}

#lowerPage > :nth-child(1) {
  width: 20vw;

  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;

  margin-top: 10vh;

}

#lowerPage > :nth-child(2) {
  width: 80vw;
  flex-direction: row;

  padding: 2rem;
}

#lowerPage > :nth-child(2) > :nth-child(1) {
  width: 70vw;
  flex-direction: column;
  background-color: #d9d9d9;

  padding-top: 3vh;
}
#lowerPage > :nth-child(2) > :nth-child(1) > :nth-child(1) {
  flex: 2;

  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
}
#lowerPage > :nth-child(2) > :nth-child(1) > :nth-child(2) {
  flex: 8;

  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;

}
#lowerPage > :nth-child(2) > :nth-child(2) {
  width: 30vw;

  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;

  padding-top: 8vh;
}