* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  border: 1px solid #000;

  display: flex;
  flex-direction: column;
}

#upperPage {
  width: 100vw;
  height: 50vh;
  border: 1px solid #d9d9d9;
  display: flex;
}

#upperPage div {
  display: flex;
  flex-direction: column;
}

#upperPage > :nth-child(1) {
  width: 20vw;
  height: 50vh;
  background-color: #e7e7e7;
}

#upperPage > :nth-child(2) {
  width: 80vw;
  height: 50vh;
  background-color: #d9d9d9;
}

#upperPage > :nth-child(2) > :nth-child(1) {
  height: 20vh;

}
#upperPage > :nth-child(2) > :nth-child(2) {
  height: 60vh;

}
#upperPage > :nth-child(2) > :nth-child(3) {
  height: 20vh;

}

#lowerPage {
  width: 100vw;
  height: 50vh;
  border: 1px solid #000;
  display: flex;
  background-color: #d9d9d9;
}

#lowerPage div {
  display: flex;
  flex-direction: column;
}

#lowerPage > :nth-child(1) {
  width: 20vw;
  height: 50vh;
}

#lowerPage > :nth-child(2) {
  width: 80vw;
  height: 50vh;
  flex-direction: row;
}

#lowerPage > :nth-child(2) > :nth-child(1) {
  width: 70vw;
  height: 50vh;
  flex-direction: column;
  background-color: #d9d9d9;

}
#lowerPage > :nth-child(2) > :nth-child(1) > :nth-child(1) {
  flex: 2;
}
#lowerPage > :nth-child(2) > :nth-child(1) > :nth-child(2) {
  flex: 8;
}
#lowerPage > :nth-child(2) > :nth-child(2) {
  width: 30vw;
}